
<div class="col-lg-3 fondo logo">
             <!-- <%= image_tag("logo.png", :class => "logo") %>  -->
             Comprando.co           
 </div>

<div class="col-lg-9 d-flex justify-content-end align-items-center fondo">
     <ul class="navbar navbar-brand" >
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-home"></i> Inicio</a>
     </li>
     <li class="nav-item ">
        <a class="nav-link" href="#"><i class="fa fa-cart"></i> Ver Carrito</a>
     </li>
   </ul>
  <div class="dropdown h-50">       
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-lg"></i> hpajaro                          
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-gear fa-fw"></i> Perfil</a></li>
          <li class="mt-2"><a href="#"><i class="fa fa-lock fa-fw"></i> Cambiar Pwd</a></li>
          <li class="dropdown-divider"></li>
          <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Salir</a></li>
        </ul>                      
  </div>
</div>